.arow {
  align-items: flex-end;
  background-color: var(--pot-pourri);
  border-radius: 10px;
  display: flex;
  height: 20px;
  justify-content: flex-end;
  left: 133px;
  min-width: 20px;
  padding: 4.4px 6.0px;
  position: absolute;
  top: 20px;
}

.icon-ionic-ios-arrow-back-6 {
  height: 11px;
  object-fit: cover;
  width: 7px;
}

.arow.arow-1 {
  left: 138px;
  top: 19px;
}

