.daily-dairy-icon {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1195px;
  overflow: hidden;
  position: relative;
  width: 428px;
}

.digital-diary {
  background-color: var(--white);
  height: 116px;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transform: translate(25px, 0);
  width: 428px;
  z-index: 9;
}

.digital-diary.animate-enter31 {
  animation: animate-enter31-frames 0.20s ease 0.00s 1 normal forwards;
  opacity: 0;
  transform: translate(25px, 0);
}

.icon-ionic-md-arrow-back {
  height: 20px;
  left: 22px;
  object-fit: cover;
  position: absolute;
  top: 26px;
  width: 20px;
}

.digital-diary-1 {
  left: 62px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 25px;
  white-space: nowrap;
}

.overlap-group2-4 {
  height: 41px;
  left: 275px;
  position: absolute;
  top: 14px;
  width: 129px;
}

.rectangle-52 {
  background-color: var(--cinderella);
  height: 30px;
  left: 9px;
  position: absolute;
  top: 6px;
  width: 108px;
}

.ellipse-8 {
  background-color: var(--royal-heath);
  border-radius: 15px;
  height: 30px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 30px;
}

.overlap-group-4 {
  align-items: center;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 16px;
  left: 49px;
  min-width: 34px;
  padding: 0 10.5px;
  position: absolute;
  top: 12px;
}

.path-67 {
  height: 2px;
  object-fit: cover;
  width: 14px;
}

.path-container-10 {
  height: 16px;
  left: 7px;
  position: absolute;
  top: 13px;
  width: 16px;
}

.path-68 {
  height: 16px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 2px;
}

.path-69 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 16px;
}

.ellipse-9 {
  background-color: var(--fuscous-gray);
  border-radius: 15px;
  height: 30px;
  left: 99px;
  position: absolute;
  top: 6px;
  width: 30px;
}

.x415-4153777_google-s-1 {
  height: 41px;
  left: 99px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 25px;
}

.overlap-group5-1 {
  height: 32px;
  left: 22px;
  position: absolute;
  top: 63px;
  width: 384px;
}

.rectangle-53 {
  background-color: #9f9f9f;
  border-radius: 22px;
  height: 30px;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 384px;
}

.rectangle-54 {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 3px 6px #bfbfbf29;
  height: 30px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 183px;
}

.my-health {
  left: 48px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.activity {
  left: 233px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.connect-your-device {
  background-color: var(--cinderella);
  border-radius: 33px;
  height: 50px;
  margin-top: 126px;
  opacity: 0;
  position: relative;
  transform: translate(25px, 0);
  width: 384px;
  z-index: 1;
}

.connect-your-device.animate-enter22 {
  animation: animate-enter22-frames 0.20s ease 0.00s 1 normal forwards;
  opacity: 0;
  transform: translate(25px, 0);
}

.your-container {
  height: 44px;
  left: 57px;
  position: absolute;
  top: 4px;
  width: 227px;
}

.connect-your-devices,
.diabetes-3,
.depression-1,
.chronic-kidney {
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.to-record-your-vitals-with-ease {
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 21px;
  white-space: nowrap;
}

.icon-ionic-ios-arrow-back {
  height: 12px;
  left: 354px;
  object-fit: cover;
  position: absolute;
  top: 19px;
  width: 9px;
}

.health-container {
  align-items: flex-start;
  display: flex;
  margin-top: 32px;
  min-width: 382px;
  z-index: 2;
}

.upload-your-health-report {
  border: 1px solid;
  border-color: var(--bon-jour);
  border-radius: 30px;
  height: 100px;
  opacity: 0;
  position: relative;
  transform: translate(25px, 0);
  width: 180px;
}

.upload-your-health-report.animate-enter23 {
  animation: animate-enter23-frames 0.20s ease 0.00s 1 normal forwards;
  opacity: 0;
  transform: translate(25px, 0);
}

.u-pload-yourhealth-reports {
  left: 12px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 52px;
  white-space: nowrap;
}

.icon {
  align-items: flex-end;
  background-color: #ffffff4c;
  border: 1px solid;
  border-color: #af84a34c;
  border-radius: 15px;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  left: 12px;
  min-width: 30px;
  padding: 4.5px 5.6px;
  position: absolute;
  top: 15px;
}

.overlap-group1-5 {
  height: 19px;
  position: relative;
  width: 18px;
}

.path-container-11 {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 15px;
  padding: 3.9px 3.3px;
  position: absolute;
  top: 0;
  width: 12px;
}

.path-74 {
  height: 2px;
  object-fit: cover;
  width: 4px;
}

.path-7-1 {
  height: 2px;
  margin-left: 0.7px;
  margin-top: 1px;
  object-fit: cover;
  width: 4px;
}

.icon-ionic-ios-funnel {
  height: 9px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 12px;
}

.share-health-data {
  border: 1px solid;
  border-color: var(--bon-jour);
  border-radius: 30px;
  height: 100px;
  margin-left: 22px;
  opacity: 0;
  position: relative;
  transform: translate(25px, 0);
  width: 180px;
}

.share-health-data.animate-enter24 {
  animation: animate-enter24-frames 0.20s ease 0.00s 1 normal forwards;
  opacity: 0;
  transform: translate(25px, 0);
}

.share-health-data-with-your-doctor {
  left: 11px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 52px;
  white-space: nowrap;
}

.path-container-12 {
  border: 1px solid;
  border-color: #d8afcc;
  border-radius: 15px;
  height: 30px;
  left: 9px;
  position: absolute;
  top: 15px;
  width: 30px;
}

.path-75 {
  height: 6px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 6px;
}

.path-76 {
  height: 6px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 6px;
}

.path-77 {
  height: 6px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 6px;
}

.path-78 {
  height: 4px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 7px;
}

.path-79 {
  height: 4px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 7px;
}

.free-health-assessments {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 21px;
  margin-top: 44px;
  min-height: 31px;
  opacity: 0;
  transform: translate(25px, 0);
  white-space: nowrap;
  z-index: 3;
}

.free-health-assessments.animate-enter25 {
  animation: animate-enter25-frames 0.20s ease 0.00s 1 normal forwards;
  opacity: 0;
  transform: translate(25px, 0);
}

.scroll-group-3::-webkit-scrollbar {
  display: none;
  width: 0;
}

.scroll-group-3 {
  height: 193px;
  margin-top: 30px;
  opacity: 0;
  overflow-x: scroll;
  position: relative;
  transform: translate(25px, 0);
  width: 428px;
  z-index: 4;
}

.scroll-group-3.animate-enter26 {
  animation: animate-enter26-frames 0.20s ease 0.00s 1 normal forwards;
  opacity: 0;
  transform: translate(25px, 0);
}

.diabetes-2 {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--bon-jour);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  left: -1px;
  min-height: 189px;
  position: absolute;
  top: 0;
  width: 130px;
}

.diabetes-1-1 {
  border-radius: 20px 20px 0px 0px;
  height: 74px;
  margin-right: 2.0px;
  margin-top: -1px;
  object-fit: cover;
  width: 130px;
}

.overlap-group1-6 {
  height: 93px;
  margin-right: 4.0px;
  margin-top: 7px;
  position: relative;
  width: 108px;
}

.overlap-group-5 {
  height: 93px;
  left: 0;
  position: absolute;
  top: 0;
  width: 108px;
}

.this {
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 21px;
  white-space: nowrap;
}

.icon-ionic-ios-arrow-back-1 {
  height: 13px;
  left: 95px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 8px;
}

.diabetes-4 {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--bon-jour);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  left: 140px;
  min-height: 189px;
  position: absolute;
  top: 0;
  width: 130px;
}

.flex-row-6 {
  align-items: flex-start;
  display: flex;
  margin-right: 6.96px;
  margin-top: 7px;
  min-width: 101px;
}

.depr-container {
  height: 93px;
  position: relative;
  width: 89px;
}

.icon-ionic-ios-arrow-back-2 {
  height: 13px;
  margin-left: 4px;
  margin-top: 3.0px;
  object-fit: cover;
  width: 8px;
}

.diabetes-5 {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--bon-jour);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  left: 281px;
  min-height: 189px;
  position: absolute;
  top: 4px;
  width: 130px;
}

.onic-container {
  height: 19px;
  margin-right: 9.96px;
  margin-top: 8px;
  position: relative;
  width: 104px;
}

.icon-ionic-ios-arrow-back-3 {
  height: 13px;
  left: 96px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 8px;
}

.this-tool-is-asimpl {
  letter-spacing: 0;
  line-height: 18px;
  margin-right: 4.0px;
  min-height: 72px;
  min-width: 108px;
  white-space: nowrap;
}

.diabetes-6 {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--bon-jour);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  left: 420px;
  min-height: 189px;
  position: absolute;
  top: 1px;
  width: 130px;
}

.flex-row-7 {
  align-items: center;
  display: flex;
  height: 19px;
  margin-right: 9.96px;
  margin-top: 8px;
  min-width: 104px;
}

.anxiety {
  color: var(--black-2);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxs);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 20px;
  min-height: 19px;
  min-width: 49px;
  white-space: nowrap;
}

.icon-ionic-ios-arrow-back-4 {
  height: 13px;
  margin-bottom: 0.7px;
  margin-left: 47px;
  object-fit: cover;
  width: 8px;
}

.overlap-group4-3 {
  height: 189px;
  left: 558px;
  position: absolute;
  top: 3px;
  width: 139px;
}

.rectangle-57 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--bon-jour);
  border-radius: 20px;
  height: 189px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 130px;
}

.diabetes-1-2 {
  border-radius: 20px 20px 0px 0px;
  height: 78px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 139px;
}

.heart-disease {
  left: 13px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 80px;
  white-space: nowrap;
}

.icon-ionic-ios-arrow-back-5 {
  height: 13px;
  left: 109px;
  object-fit: cover;
  position: absolute;
  top: 83px;
  width: 8px;
}

.this-tool-is-usedto {
  left: 15px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 101px;
  white-space: nowrap;
}

.my-health-charts {
  align-self: flex-start;
  color: var(--black-2);
  font-family: var(--font-family-poppins);
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 33px;
  margin-top: 42px;
  min-height: 31px;
  opacity: 0;
  transform: translate(25px, 0);
  white-space: nowrap;
  z-index: 5;
}

.my-health-charts.animate-enter27 {
  animation: animate-enter27-frames 0.20s ease 0.00s 1 normal forwards;
  opacity: 0;
  transform: translate(25px, 0);
}

.group-14 {
  height: 173px;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 664px;
  transform: translate(25px, 0);
  width: 428px;
  z-index: 10;
}

.group-14.animate-enter32 {
  animation: animate-enter32-frames 0.20s ease 0.00s 1 normal forwards;
  opacity: 0;
  transform: translate(25px, 0);
}

.overlap-group6-1 {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 203px;
  justify-content: flex-end;
  left: -15px;
  min-width: 458px;
  padding: 22.0px 36.0px;
  position: relative;
  top: -17px;
}

.home-1 {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 48px;
  justify-content: space-between;
  margin-top: 2.07px;
  width: 32px;
}

.icon-home-1 {
  flex: 1;
  height: 26.74px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  max-height: 26.74px;
  object-fit: cover;
}

.place-1 {
  flex: 1;
  height: 17px;
  letter-spacing: 0;
  line-height: 10px;
  margin-bottom: -4.5px;
  margin-left: 0.3px;
  margin-right: -0.8px;
  max-height: 17px;
  white-space: nowrap;
}

.dairy-2 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: 46px;
  justify-content: space-between;
  margin-left: 44px;
  margin-top: 3.94px;
  position: relative;
  width: 28px;
}

.diary-1 {
  flex: 1;
  height: 17px;
  letter-spacing: 0;
  line-height: 10px;
  margin-bottom: -4.5px;
  margin-right: -2px;
  max-height: 17px;
  white-space: nowrap;
}

.health-tip-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 3.0px;
  min-height: 47px;
  width: 56px;
}

.icon-light_bulb-1 {
  height: 26px;
  margin-right: 2.87px;
  object-fit: cover;
  width: 18px;
}

.health-tips-2 {
  letter-spacing: 0;
  line-height: 10px;
  margin-top: 8px;
  min-height: 17px;
  min-width: 56px;
  text-align: center;
  white-space: nowrap;
}

.menu-2 {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 43px;
  justify-content: space-between;
  margin-left: 44px;
  margin-top: 7.09px;
  width: 30px;
}

.icon-metro-menu-1 {
  flex: 1;
  height: 16.17px;
  margin-left: 1.8px;
  margin-right: 1.9px;
  margin-top: 0;
  max-height: 16.17px;
  object-fit: cover;
}

.menu-3 {
  flex: 1;
  height: 17px;
  letter-spacing: 0;
  line-height: 10px;
  margin-bottom: -4.5px;
  margin-right: -2px;
  max-height: 17px;
  text-align: center;
  white-space: nowrap;
}

@keyframes animate-enter23-frames {
  from{opacity: 0;
transform: translate(25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

@keyframes animate-enter24-frames {
  from{opacity: 0;
transform: translate(25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

@keyframes animate-enter32-frames {
  from{opacity: 0;
transform: translate(25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

@keyframes animate-enter25-frames {
  from{opacity: 0;
transform: translate(25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

@keyframes animate-enter27-frames {
  from{opacity: 0;
transform: translate(25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

@keyframes animate-enter31-frames {
  from{opacity: 0;
transform: translate(25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

@keyframes animate-enter26-frames {
  from{opacity: 0;
transform: translate(25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

@keyframes animate-enter22-frames {
  from{opacity: 0;
transform: translate(25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}

